<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpEcsOEiupZKHbnL7K9mishvYQuLRWUC4</string>
	<key>GCM_SENDER_ID</key>
	<string>450496097546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thienduc12311.SamSu</string>
	<key>PROJECT_ID</key>
	<string>notification-1d3ff</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-1d3ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450496097546:ios:e835b7b298b676882ddef3</string>
</dict>
</plist>